$minWidth: 320px;
$maxWidth: 1600px;

$fontFamily: 'Lato';
$fontSize: 18px;

$colorMain: #222222;
$textColor: #ffffff;
$digitColor: #AA0055;

$lightModeBgdBody: #EDEDED;
$lightModeBgd: #FCFCFC;
$lightModeBorder: #C7C7C7;